<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brendan.CCApp_vp4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="RsM0TvktmnyoKjjkPacaaPB6HuMyweJWS73iMZLj" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="C3dfEbfaJOC8CV3HFVM5iI6O4FKZchKHgHbqT5N4" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_Nav" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CDayDetails"
            android:label="@string/title_activity_cday_details"
            android:theme="@style/AppTheme_Nav" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brendan.CCApp_vp4.MainActivity" />
        </activity>
        <activity
            android:name=".FriendTop3"
            android:label="@string/title_activity_friend_top3" >

            <!-- android:parentActivityName=".MainActivity" > -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brendan.CCApp_vp4.MainActivity" />
        </activity>
        <activity
            android:name=".FriendRequests"
            android:label="@string/title_activity_friend_requests" >

            <!-- android:parentActivityName=".MainActivity" -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brendan.CCApp_vp4.MainActivity" />
        </activity>
        <activity
            android:name=".AddFriend"
            android:label="@string/title_activity_add_friend" >
        </activity>
        <activity
            android:name=".MasterList_AddPerson"
            android:label="@string/title_activity_master_list__add_person" >
        </activity>
        <activity
            android:name=".NewEvent"
            android:label="@string/title_activity_new_event" >
        </activity>
        <activity
            android:name=".Date_Trial"
            android:label="@string/title_activity_date__trial" >
        </activity>
        <activity
            android:name=".Time_Trial"
            android:label="@string/title_activity_time__trial" >
        </activity>
        <activity
            android:name=".Common_Friends"
            android:label="@string/title_activity_common__friends" >
        </activity>
        <activity
            android:name=".Popup_Trial"
            android:label="@string/title_activity_popup__trial" >

        </activity>
        <activity
            android:name=".SpecificPersonInfo"
            android:label="@string/title_activity_specific_person_info" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
